# Only allows non mass storages on USB ports 1.1, 1.2, 1.3 and 1.5 (everything but 1.4 and other hubs)

# Symlink touchscreen
SUBSYSTEM=="input", ATTRS{name}=="ADS7846 Touchscreen", ENV{DEVNAME}=="*event*", SYMLINK+="input/touchscreen"

# Disable all usbhid on 1.4
ACTION=="add", SUBSYSTEMS=="usb", DRIVER=="usbhid", ATTRS{devpath}=="1.4", RUN+="/bin/sh -c 'echo 0 > /sys$DEVPATH/authorized'"
